main .container-contacto{
 padding-top: 50px;
 padding-bottom: 50px;
 @include respond-to('desktop'){
  padding-top: 100px;
  padding-bottom: 100px;
 }

 .contacto-title{
  letter-spacing: 2px;
  margin-bottom: 40px;
  font-size: 50px;
  color: $color-white;
  font-family: 'UnifrakturMaguntia';
  @include respond-to('desktop'){
   font-size: 70px;
  }
 }

 .contacto-info{
  max-width: 1000px;
  
  .contacto-info-p{
   color: white;
   font-size: 16px;
   line-height: 22px;
   margin-bottom: 10px;
  }

  .contacto-info-redes{
   display: flex;
   align-items: center;
   column-gap: 20px;
  }
  .contacto-info-redes svg{
   cursor: pointer;
   width: 20px;
   height: 20px;
   fill: white;
  }
 }

 .contacto-form{
  width: 100%;
  max-width: 500px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 8px;
  padding: 20px 10px;
  display: grid;
  
  &-campos{
   display: grid;
   row-gap: 25px;
   margin-bottom: 30px;
  }

  input, textarea{
   background: transparent;
   border: none;
   border-bottom: 2px solid white;
   padding: 10px 15px;
   font-size: 20px;
   font-family: 'UnifrakturMaguntia';
   width: 100%;
   color: white;
  }

  input::placeholder,textarea::placeholder{
   color: white;
  }

  input:focus, textarea:focus{
   border: 1px solid white;
   outline: none;
  }

  input.contacto-form-btn{
   border: 2px solid white;
   border-radius: 8px;
   font-size: 34px;
   cursor: pointer;
  }

 }
}