---
import LayoutMain from '../../layouts/Main.astro'
---

<LayoutMain classMask="main-mask-dark">
	
<div class="container container-acerca">
 <h1 class="acerca-title">Biografía</h1>

 <div class="acerca-main">
  <div class="acerca-img">
   <img src="/img/perfil.png" alt="perfil">
  </div>
 
  <div class="acerca-parrafos">
   <p class="acerca-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eos praesentium id voluptate delectus saepe aliquam. Modi, quod consequuntur accusamus tenetur voluptatum, enim animi doloribus temporibus officiis molestiae sapiente itaque!
   </p>
    <p class="acerca-p">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eos praesentium id voluptate delectus saepe aliquam. Modi, quod consequuntur accusamus tenetur voluptatum, enim animi doloribus temporibus officiis molestiae sapiente itaque!
   </p>
  </div>
 </div>
</div>


</LayoutMain>