---
import LayoutMain from '../layouts/Main.astro'
---

<LayoutMain>

	<div class="container">
		<span class="main-subtitle">Arte de</span>
		<h1 class="main-title">Mariano Romero</h1>
	</div>

</LayoutMain>