<footer class="footer">
  <div class="container">
    &copy; 2023 - <a href="https://prospect.ar" target="_blank"
      >Prospect Argentina</a
    >
  </div>
</footer>

<style lang="scss">
 @import "../base.scss";
  .footer {
    bottom: 0;
    left: 0;
    background: $color-brand;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
  }
</style>
