@import '../lib/settings';

*{
 font-family: 'Merriweather', serif;
}

.container{
 padding: 0 10px;
 max-width: 1440px;
 margin: auto;

 @include respond-to('desktop'){
  padding: 0 60px;
 }
 @include respond-to('widescreen'){
  padding: 0 0;
 }
}