---
import LayoutMain from '../../layouts/Main.astro'
---

<LayoutMain classMask="main-mask-dark">
	
 <div class="container container-obras">
  <h1 class="obras-title">OBRAS ELEGIDAS</h1>

  <div class="obras">
   <div class="obras-img">
    <img src="/img/fondo_main4.jpg" alt="Obra 1">
   </div>
   <div class="obras-img">
    <img src="/img/fondo_main2.jpg" alt="Obra 1">
   </div>
   <div class="obras-img">
    <img src="/img/fondo_main3.jpg" alt="Obra 1">
   </div>
   <div class="obras-img">
    <img src="/img/fondo_main.jpg" alt="Obra 1">
   </div>
  </div>
 </div>


</LayoutMain>